/* Main css styles for the MOTW website */

/* 
#261D2E
#3B2F1E
#732D2A
#79666B
#B89A99
*/

/* Source Mods -------------------------------------------- */
body {
	background-color: #261D2E;
	color: #b1b3b5;
	font-family: 'Oswald', sans-serif;
}

a {
	color: #B89A99;
}
a:hover {
	color: #732D2A;
}
hr {
	width: 75%;
}
img.postcard {
	display: block;
}
h1.title {
	font-size: 8rem;
}
/* tags -------------------------------------------- */
.responsive {
	width: 100%;
	height: auto;
}
/* Div -------------------------------------------- */

div.main {
	max-width: 54rem;
	width: 80%;
	background-color: #3B2F1E;
}
div.header {
	max-width: 100%;
	height: auto;
	background-color: #0F0A3F;
	border: solid;
	display: block;
}
div.body {
	background-color: #3B2F1E;
	display: block;

}
div.footer {
	display: block;
}
div.summary {
	margin: 2rem;
	text-align: left;
	/* background-color: #79666B; */
}

/* NavBar ------------------------- */
div.navbar {
	height: auto;
}
ul.navbarList {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}
li.nav {
	float: left;
}
li.nav a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

/* Episode List Folders ------------------------- */
div.episodeList {
	width: 100%;
	display: block;
}
div.episodeTab {
	text-align: left;
	margin: auto;
	/* padding: 1rem; */
	width: 100%;
	background-image: url('art/filefolder.png');
	background-repeat: no-repeat;
	color: black;
}
h2.episodeTitle {
	padding: 1rem 1rem 1rem 0.6rem;
	font-size: 1rem;
}
h3.episodeAir {
	color: #732D2A;
}

/* Castbox slideshow ------------------------------------------------------------ */
* {box-sizing:border-box}
img.charCard {
	max-width: 54rem;
	height: auto;
}

/* Slideshow container */
.slideshow-container {
	max-width: 54rem;
	position: relative;
	margin: auto;
}

/* Hide the images by default */
.mySlides {
	display: none;
}

/* Next & previous buttons */
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: #888;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}
.prev {
	left: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
	color: #f2f2f2;
	font-size: 15px;
	padding: 2rem 3rem;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
	background-color: rgba(0,0,0,0.8);
	display: block;
}

/* Number text (1/3 etc) */
.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

/* The dots/bullets/indicators */
.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active, .dot:hover {
	background-color: #717171;
}

/* Fading animation */
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@-webkit-keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}

@keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}

/* Modal ------------------------------------------------------------ */
/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
	background-color: #fefefe;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}
